$colorCharcoal: #264653;
$colorPersianGreen: #2a9d8f;
$colorOrangeYellowCrayola: #e9c46a;
$colorSandyBrown: #f4a261;
$colorBurntSienna: #e76f51;

.mainContainer {
  border: 1px solid $colorBurntSienna;
  padding: 20px;
  margin-top: 20px;
  min-width: 850px;
}
